form {
    display: table;
    padding: 10px;
}

.input-value {
    display: table-row;
}

.p-result {
    display: table-row;
    color: darkgreen;
}

label {
    display: table-cell;
}

.label {
    display: table-cell;
}

#button {
    display: table-row-group;
}

.in-value {
    display: table-cell;
    width: 150px;
    font-size: 0.8em;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-top: 2%;
}

.results {
    border: 3px solid green;
}

.results-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#svg-triangle {
    padding-right: 5%;
    min-width: 40%;
    max-width: 100%;
}

.svg-container {
    display: flex;
    min-width: 40%;
    font-size: 0.5em;
}

.init-container{
    display: flex;
    justify-content: center;

}

#result {
    font-size: 2em !important;
}

.form-block {
    display: inline-block;
}

#case-container {
    font-size: 3em;
    text-align: center;
}

.svg-result {
    display: flex;
}

#step-solutions {
    font-size: 1.7em;
}

.single-step {
    display: flex;
    justify-content: center;
}


.temp-values {
    padding-left: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.value-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.tex-figure-div {
    font-size: 10px;
}

#init-button {
    width: 100%;
    display: inline-block;
    height: 50px;
    font-size: 0.7em;
}

.title-option {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline overline;
    text-underline-offset: 0.2em;
}

.svg-end{
    flex-shrink: 0;
}


@media (min-width: 700px) {
    .input-value {
        font-size: 2.8em;
    }
    #result {
        font-size: 2.3em;
    }
}

@media (max-width: 800px) {
    .input-value {
        font-size: 1.7em;
    }
    #result {
        font-size: 1.5em;
    }
    .single-step {
        flex-direction: column;
        justify-content: flex-start;
    }
    .value-content {
        flex-direction: column;
        justify-content: flex-start;
    }
    .temp-values {
        justify-content: center;
        padding-left: 0;
    }
    #step-solutions {
        font-size: 1em;
    }
    .in-value {
        width: 80px;
    }
    #svg-triangle {
        padding-right: 0;
        min-width: 20%;
    }
    .results-container {
        flex-direction: column;
        justify-content: center;
        align-self: flex-start;
    }
    .svg-result {
        transform: translateX(-15%) scale(0.8);
        justify-content: flex-start;
        align-self: flex-start;
        flex-direction: column;
    }
    .svg-end{
        transform: scale(0.39);
        justify-content: flex-start;
        flex-shrink: 0;
        padding-left: 10vw;
        align-self: flex-start;
    }
    .svg-end-font{
        font-size: 1.8em;
    }
    .MathJax_Display, .MJXc-display, .MathJax_SVG_Display {
        overflow-x: auto;
        overflow-y: hidden;
    }
}

.blue {
    color: red;
}

.dark-green {
    color: darkgreen;
}